 .red{
            background-color: rgb(238, 36, 113);
            color: white;
           }
           .bg-blue{
              color:white8
              background-color: blue;
           }